.card {
    border: 1px solid var(--card-boarder-color);
    background-color: var(--card-bg-color);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    margin-left: var(--gutter);
    margin-right: var(--media-gutter);
    padding: var(--padding);
    border-radius: 14px;
    text-align: center;
}
.card > h3 {
    text-align: left;
    padding: calc(2 * var(--padding))
}
.subtext {
    font-size: 0.75em;
    color: var(--low-em-color);
}
.note {
    font-size: 1em;
    font-weight: 100;
    color: var(--text-color);
    padding: var(--padding);
    margin-right: var(--gutter);
    margin-left: var(--gutter);
}