
:root {
    --text-accent-color: #F29F67;
    --text-card-color: #1F1F1F;
    --low-em-color: #999;
    --accent-button: #333;
    --text-color: #000000;
    --separator-color: #DEE2E6;
    --card-boarder-color: #FFFFEF;
    --main-bg-color: #F4F5F7;
    --card-bg-color: #FFFFFF;
    --shadow-color: #888;
    --allok-color: #4DA761;
    --warning-color: #E0B50F;
    --error-color: #F95F53;
    --action-color: #0D6EFD;
    --text-size: 18px;
    --margin: 32px;
    --gutter: 8px;
    --media-gutter: 0px;
    --padding: 4px;
    --border-radius: 4px;
    --popover-space: 20px;
    --popover-padding: 10px;
}

body {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    margin-right: var(--margin);
    margin-left: var(--margin);
    font-size: var(--text-size);
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}
h1 {
    font-size: 4em;
}
h2 {
    font-size: 3em;
    margin: 0;
    padding: var(--padding);
}
h3 {
    font-size: 1.2em;
    margin: 0;
}
h3.error-message {
    font-size: 1.8em;
    color: var(--error-color);
}
p {
    display: inline;
}
ul {
    list-style-type: none;
    text-align: left;
}
ul li {
    padding: var(--padding);
    font-weight: 400;
}
li p {
    font-weight: 400;
    text: var(--low-em-color);
}
.topbar {
    padding: var(--padding);
    text-align: right;
}
.topbar img {
    height: 2em;
}
.topbar p {
    margin-top: 0;
    font-size: 1em;
}

.login-icon {
    cursor: pointer;
}

.popover {
    position: absolute;
    top: 50px;
    right: var(--popover-space);
    z-index: 10;
    background: white;
    color: black;
    border: 1px solid var(--low-em-color);
    border-radius: var(--border-radius);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container {
    padding: var(--popover-space);
}

.login-container h2 {
    margin: 0 0 var(--popover-space) 0;
}

.login-container label {
    display: block;
    margin: 0 0 var(--margin) 0;
}

.login-container input {
    width: 90%;
    padding: var(--popover-padding);
    margin: 0 0 var(--margin) 0;
    border: 1px solid var(--low-em-color);
    border-radius: var(--border-radius);
}

.login-container button {
    width: 100%;
    padding: var(--popover-padding);
    background-color: var(--accent-button);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}
.noauth {
    margin-top: var(--media-gutter);
    margin-bottom: var(--media-gutter);
}
.maincontent {
    padding-left: var(--media-gutter);
}
.navbar {
    border-top: 1px solid var(--low-em-color);
    border-bottom: 1px solid var(--low-em-color);
    padding-left: var(--media-gutter);
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.navbutton {
    border: 1px solid var(--card-boarder-color);
    background-color: var(--card-bg-color);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    margin-left: var(--gutter);
    margin-right: var(--media-gutter);
    padding: var(--padding);
    text-align: center;
    border-radius: var(--border-radius);
    filter: drop-shadow(var(--shadow-color) 0.25rem 0.25rem 0.25rem);
}
.navbutton a {
    text-decoration: none;
    color: var(--text-color);
}
.navicon .material-symbols-outlined {
    font-size: 2em;
}
.maincontent > h2 {
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    margin-left: var(--gutter);
    margin-right: var(--media-gutter);
}
.lookup-form {
    margin-top: var(--margin);
    margin-bottom: var(--gutter);
    max-width: 100em;
}
.lookup-form form {
    border: 1px solid var(--card-boarder-color);
    background-color: var(--card-bg-color);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    margin-left: var(--gutter);
    margin-right: var(--media-gutter);
    padding: var(--padding);
    border-radius: var(--border-radius);
}
.lookup-form h3 {
    margin-bottom: var(--gutter);
}
.inline-add {
    max-width: 50em;
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-container h2 {
    margin-top: 0;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
}
.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}
.form-group button:disabled {
    background-color: #999;
    cursor: not-allowed;
}
.form-group select {
    font-size: 1.2em;
}
.form-group label i {
    font-size: .75em;
}
.form-group p {
    font-size: .75em;
    color: var(--low-em-color);
}
.inline-form input {
    display: inline;
}
.inline-form select {
    padding: var(--padding);
}
input[type="checkbox"] {
    width: 20px; /* Adjust width */
}
.inline-form label {
    display: inline-block;
    padding: var(--padding)
}
.inline-form p {
    display: inline;
}

.base-icon {
    display: none;
    opacity: 1; /* Fully visible */
    visibility: visible; /* Element is interactive */
    font-size: 1.8em;
    padding: 1em 0 0 0; /* top padding */
    margin: 0 0 0 1em; /* left margin */
    font-weight: bold;
}
#error-icon p {
    color: var(--error-color);
}
#success-icon p {
    color: var(--allok-color);
}
.hidden {
    opacity: 0; /* Fades out */
    visibility: hidden; /* Prevents interaction after fading */
}
.table {
    width: 100%;
    color: var(--text-color);
    vertical-align: top;
    margin-right: var(--gutter);
    margin-left: var(--gutter);
}
.error-table {
    color: var(--error-color);
}
.table > thead {
    vertical-align: bottom;
}
.table th {
    vertical-align: center;
    line-height: 1;
    white-space: nowrap;
    padding: var(--padding) var(--padding)
}
.table thead th {
    border-top: 0;
    border-bottom: 2px solid var(--separator-color);
    font-weight: 600;
    font-size: 0.875em;
}
.slim-button form {
    margin: 0;
    padding: 0;
    text-align: center;
}
.maincontent div:hover.link {
    cursor: pointer;
    background-color: var(--action-color);
    opacity: 0.8;
}
.table tr:hover td.editable {
    background-color: var(--low-em-color);
    opacity: 0.8;
    border: 2px solid var(--action-color);
    opacity: 0.8;
}
.table tr:hover {
    cursor: pointer;
    background-color: var(--action-color);
    opacity: 0.8;
}
.table td {
    padding: calc(.5 * var(--padding)) calc(2 * var(--padding));
    vertical-align: center;
    text-align: right;
    line-height: 1;
    white-space: nowrap;
    border-top: 0;
    border-bottom: 1px solid var(--separator-color);
    font-weight: 400;
    font-size: 0.875em;
}
.error-table td {
    text-align: left;
}
.table > tbody > tr:last-child > td { border-bottom: 0; }

.action {
    padding: 10px;
    background-color: var(--low-em-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

select.action {
    padding: 10px;
    width: 20%;
    background-color: var(--low-em-color);
    border: 2px solid var(--action-color);
    border-radius: var(--border-radius);
}

button.action:hover {
    background-color: var(--action-color);
}
/* Style for the thin bar toggle */
.help-bar {
    cursor: pointer;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-left: 2em;
    background-color: var(--action-color);
    color: var(--card-bg-color);
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    transition: background-color 0.3s;
}

.help-bar:hover,
.help-bar:focus {
    background-color: var(--action-color);
    outline: none;
}

/* Help section styling */
.help-section {
    margin: 1em 0;
    padding: 1em;
    border: 1px solid var(--card-bg-color);
    border-radius: 4px;
    background-color: var(--card-bg-color);
    transition: max-height 0.3s ease-out;
}

/* Collapsible animation */
.collapsed {
    max-height: 0;
    overflow: hidden;
    padding: 0;
}

.expanded {
    max-height: 150px; /* Adjust based on your content */
}

@media screen and (min-width: 800px) {
    :root {
        --media-gutter: 32px;
    }
}
@media screen and (max-width: 500px) {
    :root {
        --media-gutter: 0;
        --gutter: 8px;
        --padding: 1px;
    }
}